name: Deploy Staging

on:
  push:
    branches:
      - main

concurrency:
  group: test-deploy-staging
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: staging
