name: Deploy Production

on:
  push:
    tags:
      - 'test-v*'

concurrency:
  group: test-deploy-production
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: production
