name: Test Concurrency

on:
  workflow_dispatch:
  push:
    tags:
      - 'test-v*'

concurrency:
  group: test-deploy-prod
  cancel-in-progress: true

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Job 1 start at $(date)"
      - run: sleep 60
      - run: echo "Job 1 done at $(date)"

  job2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Job 2 start at $(date)"
      - run: sleep 300
      - run: echo "Job 2 done at $(date)"
